{
  "parser": "@babel/eslint-parser",
  "extends": [
    "@imaginary-cloud/react"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    },
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "space-before-function-paren": 0,
    "react/function-component-definition": 0,
    "react/prop-types": 0,
    "react/jsx-handler-names": 0,
    "react/jsx-fragments": 0,
    "react/react-in-jsx-scope": 0,
    "react/jcx-uses-react": 0,
    "react/no-unused-prop-types": 0,
    "import/export": 0
  }
}
